@{
    ViewData["Title"] = "BBQuiz";
    Layout = "_Layout";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>BBQuiz</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<h2>Which Nippon Professional Baseball Team did Shohei Otani play for?</h2>
1. @ViewData["Answer1"] <br />
2. @ViewData["Answer2"] <br />
3. @ViewData["Answer3"] <br />
<br />
<form action="BballQuizAnswer">
    <input hidden="hidden" name="answer1" value="@ViewData["Answer1"]" />
    <input hidden="hidden" name="answer2" value="@ViewData["Answer2"]" />
    <input hidden="hidden" name="answer3" value="@ViewData["Answer3"]" />
    <label for="rightanswer">Answer</label><br />
    <input type="text" name="rightanswer" /><br />
    <input type="submit" />
</form>

<a class="btn btn-primary" href="/Home/Index" type="submit">Back to home</a>
